@model SiteJointPurchase.Domain.Entities.Product
@*<div class="well">
    <h3>
        <strong>@Model.Name</strong>
        <span class="pull-right label label-primary">@Model.Price.ToString("# руб")</span>
    </h3>
    <span class="lead">@Model.Name</span>
</div>*@
<div class="well">
    <h3>
        <strong>@Model.Name</strong>
        <span class="pull-right label label-primary">@Model.Price.ToString("# руб")</span>
    </h3>
    @using (Html.BeginForm("AddToCart", "Cart")) {
    <div class="pull-right">
      @*  @Html.EditorFor(Model => Model.Id, new { data_val_number = Model.Id })*@
        @Html.HiddenFor( Model => Model.Id)   @*, new { data_val_number = Model.Id, data_val_required = Model.Id })*@
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <input type="submit" class="btn btn-success" value="Добавить в корзину" />
    </div>
    }
    <span class="lead">@Model.Name</span>
</div>
